/* ------------------- */
/* Document classess */
/* ------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- */
/* All main nav clases */
/* ------------------- */

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 38px 50px 42px 50px;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
}

.main-nav li {
  display: inline;
  margin: auto 0;
  padding-left: 60px;
  font-size: 111%;
  font-weight: 600;
}

.logo {
  max-width: 158px;
}

.active {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  text-decoration-color: #eea23f;
}

/* ------------------- */
/* Hero section classes */
/* ------------------- */

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-img {
  margin-left: 145px;
}

.hero-img img {
  width: 550px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
  margin-right: 100px;
}

.hero-text p {
  padding: 10px 0;
  line-height: 170.4%;
}

.hero-buttons {
  display: flex;
  padding-top: 30px;
}

h1 {
  font-family: "Italiana", serif;
  font-style: normal;
  font-size: 500%;
  line-height: 95%;

  padding-bottom: 30px;
}

.primary-button {
  padding: 10px 30px;
  margin-right: 30px;

  background: #444444;
  box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  color: #ffffff;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
}

.secondary-button {
  padding: 10px 30px;
  background: #ffffff;
  border: 1px solid #eea23f;
  border-radius: 8px;

  color: #eea23f;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
}

.hero-arrow {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* ------------------- */
/* Section heading class */
/* ------------------- */

.section-heading {
  width: 100vw;
  display: flex;
  justify-content: center;

  font-family: "Italiana", serif;
  font-style: normal;
  font-size: 250%;
  line-height: 95%;

  padding: 70px 0 30px 0;
}

/* ------------------- */
/* Roll classes */
/* ------------------- */

.roll-section {
  display: flex;
  justify-content: stretch;
  width: 100%;
  padding: 50px 0;
}

.roll-img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.roll-img img {
  max-width: 300px;
  padding-right: 50px;
}

.roll-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 445px;
  width: 50%;
}

.roll-text p {
  padding: 10px 0;
  line-height: 170.4%;
}

.roll-buttons {
  display: flex;
  padding-top: 20px;
}

h4 {
  font-family: "Italiana", serif;
  font-style: normal;
  font-size: 200%;
  line-height: 95%;

  padding-bottom: 20px;
}

/* ------------------- */
/* Details Classes */
/* ------------------- */

h6 {
  display: block;
  font-family: "Italiana", serif;
  font-style: normal;
  font-size: 150%;
  line-height: 95%;

  padding: 20px 0 20px 0;
}

.details-section {
  display: flex;
  justify-content: stretch;
  width: 100%;
  padding: 50px 0;
  align-items: flex-start;
}

.details-img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.details-img img {
  width: 400px;
  padding-right: 50px;
}

.details-text {
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-width: 445px;
  width: 50%;
}

.details-text ul {
  line-height: 170.4%;
  transform: translateX(30px);
  padding-bottom: 20px;
}

.details-text p {
  padding: 10px 0;
  line-height: 170.4%;
}

select {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  position: relative;
}

select::-ms-expand {
  display: none;
}

.selector {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 15px;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 6px;
}

.details-selector {
  margin-bottom: 20px;
}

.details-buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
  padding-top: 20px;
}

.details-primary-button {
  margin-right: 0 !important;
}

/* ------------------- */
/* About Classes */
/* ------------------- */

.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
  margin-right: 100px;
}

.about-text h1 {
  font-size: 445% !important;
}

.about-img {
  margin-left: 145px;
}

.about-img img {
  width: 550px;
}

.about-text p {
  padding: 10px 0;
  line-height: 170.4%;
}

.about-buttons {
  display: flex;
  padding-top: 30px;
}

/* ------------------- */
/* Footer Classes */
/* ------------------- */

.footer-main {
  background-color: #444444;
  display: flex;
  justify-content: space-around;
  padding: 75px 370px;
}

.footer {
  color: #ffffff;
  line-height: 130%;
}

.social {
  font-weight: 700;
  padding-left: 50px;
}

.highlight {
  font-weight: 600;
}
